#heading{
    color: rgb(255, 149, 0);
    font-size: 250%;
    font-family: cursive;
    text-align: center;
    margin-top:2%;
}
body{
    background-color: rgb(1, 48, 103);
}
button{
    margin:5px;
}
#bars{
    margin-top:7% ;
    text-align: center;
}
/* for elements of array */
.bar{
    display: inline-block;
    background-color:orange;
    margin:0 0.8px 0 0.8px;
    width: 10px;
}
#bars{
    position: fixed;
    bottom: 15%;
    left:20%
}
#sliders{
    
    padding: 6px;
    margin-right: 5px;
    color: aliceblue;
    border:1px solid aliceblue;
    border-radius:3px ;
}
#slider{
    float: right;
}